.todo-list {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background: linear-gradient(135deg, #ffffff, #f7f7f7);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.todo-list input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin-left: -10px;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 5px;
}

.todo-item .completed {
  text-decoration: line-through;
}

.todo-item button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.todo-item button:hover {
  background-color: #ff1a1a;

}


/* .creation-date, .due-date, .last-updated, .priority {
  font-size: 0.9em;
  color: gray;
} */
.addbutton {
  width: 100%;
  background-color: #4CAF50; /* Green background */
  color: white; /* White text */
  border: none; /* Remove border */
  padding: 10px 20px; /* Add some padding */
  text-align: center; /* Center the text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Inline block element */
  font-size: 16px; /* Increase font size */
  margin: 10px 0; /* Add some margin */
  cursor: pointer; /* Add a pointer cursor on hover */
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.3s ease; /* Smooth transition */
}

.addbutton:hover {
  background-color: #1a831a; /* Darker green on hover */
}
.todo-item .due-date {
  margin-left: 10px;
  color: #888;
}

.form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-family: 'Times New Roman', Times, serif;

}

.form-group > div {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.form-group label {
  margin-right: 10px;
  font-weight: bold;

}

.form-group input[type="date"],
.priority-select select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  /* font-family: 'Times New Roman', Times, serif; */

}



.filter-dropdown {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-dropdown label {
  margin-right: 10px;
}

.filter-dropdown select {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}


.todo-item .priority {
  margin-left: 10px;
  font-weight: bold;
  color: #555;
}

.priority-select {
  margin: 10px 0;
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;

}

.priority-select select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  /* background-color: red; */
}